* {
  margin: 0;
  padding: 0;
}
.nav {
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.nav > div:nth-child(1) img {
  height: 80px;
  width: 180%;
  margin-bottom: 40px;
  /* border: 1px solid blue; */
}
.nav h3 {
  margin-top: 20px;
  margin-right: 70%;
  /* border: 1px solid blue; */
}

#header > div {
  /* border: 1px solid red; */
  width: 60%;
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}
#header > div > div {
  font-weight: 700;
  margin-top: 10px;
}
#font {
  margin-top: 20px;
}

/* Top-Section */

#top-section {
  /* border: 1px solid blue; */
  width: 90%;
  margin: auto;
  height: 300px;
}
#top-section > div:nth-child(1) h2 {
  margin-top: 40px;
  margin-left: 16%;
  margin-bottom: 20px;
}
#top-section > div:nth-child(1) input {
  margin-left: 16%;
  width: 60%;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 20px;
}
#top-section > div:nth-child(1) h2 {
  margin-right: 80px;
}
#top-section > div:nth-child(2) {
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
#top-section > div:nth-child(2) img {
  width: 80%;
  height: 80px;
}
#top-section > div:nth-child(2) > div {
  height: auto;
  width: 10%;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
#top-section > div:nth-child(3) {
  /* border: 1px solid red; */
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
#top-section > div:nth-child(3) img {
  height: 200px;
  border-radius: 20px;
}
#top-section > div:nth-child(4) {
  margin-top: 40px;
}
.card1 {
  margin-top: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.cards > div img {
  width: 90%;
}

.pre-btn,
.next-btn {
  border: none;
  width: 8vw;
  height: 220%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 9;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.next-btn {
  right: 0;
}

.container-1 h2 {
  margin-top: 40px;
}
#offers {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#offers > div:nth-child(1) {
  border: 1px solid #000;
  height: 50px;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
#offers > div:nth-child(2) {
  border: 1px solid black;
  height: 50px;
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
#offers > div img {
  border-radius: 5px;
}
.container-2 h2 {
  margin-top: 40px;
}
.payments {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.payments > div img {
  width: 90%;
  height: 80px;
}

/* Category */
.container-3 h2 {
  margin-top: 40px;
}
.category {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.category > div {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.category > div img {
  width: 90%;
}
.container-4 {
  margin-top: 40px;
}
.launches {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.launches > div {
  margin-top: 40px;
  width: 22%;
  height: 100%;
}
.launches > div:nth-child(1) img {
  padding: 40px 5px 40px 5px;
}
.launches > div:nth-child(2) img {
  height: 100px;
  width: 30%;
}
.launches > div:nth-child(4) img {
  padding: 60px 10px 60px 10px;
}
.launches > div img {
  width: 50%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* New Trends */
.trending {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.trending > div {
  width: 12%;
  height: 100%;
}
.trending > div img {
  padding: 20px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.trending > div:nth-child(1) img {
  padding: 60px 20px 60px 20px;
}
.trending > div:nth-child(2) img {
  padding: 60px 20px 72px 20px;
}
.trending > div:nth-child(3) img {
  padding: 40px 20px 40px 20px;
}
.trending > div:nth-child(4) img {
  padding: 67px 20px 67px 20px;
}
.trending > div:nth-child(5) img {
  padding: 40px 20px 40px 20px;
}
.trending > div:nth-child(6) img {
  width: 80%;
  padding: 13px 30px 13px 30px;
}
.trending > div:nth-child(7) img {
  width: 60%;
  padding: 18px 40px 18px 40px;
}
