* {
    margin: 0%;
    padding: 0%;

}

.nav {
    width: 100%;
    height: 111px;

    background-color: #0d8877;
    display: flex;
}

.nav .img {
    height: 64px;
    width: 175px;
    margin-left: 110%;
    margin-top: 15%;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    background-color: #0d8877;
    color: white;
    border: #0d8877;
    width: 180px;
    margin-left: 575%;
    font-size: large;
    margin-top: 24%;
    cursor: pointer;
}

.main {
    height: 630px;
    width: 100%;

    display: flex;
    padding-top: 4%;
    background-color: #0d8877;
}

.main .inner {
    padding-left: 3%;
    width: 46%;
}

.inner button {
    height: 30px;
    background-color: #0459556c;
    border: none;
    margin-left: 3%;
    margin-bottom: 3%;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    cursor: pointer;
}

/* .inner button :hover{
background-color: #15786b;
} */

#b {
    height: 52px;
    margin-top: 5%;
    border-radius: 8px;
    color: black;
    background-color: #ffc423;
    font-size: larger;

}

#bb {
    height: 52px;
    margin-top: 5%;
    border-radius: 8px;
    font-size: larger;
    border: 1px solid white;
}

.tt {
    display: flex;
    margin-left: 12%;
}

.top_div {
    width: 218px;
    height: 90px;
    margin: -47px 23px;
    background-color: white;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 8%;
}

.main2 {
    width: 79%;
    height: 400px;
    margin-bottom: 7%;
    display: flex;
    margin-left: 10%;

}

.main2>div {
    margin: auto;
    width: 19%;
}

.main2 img {
    height: 137px;
    width: 247px;
    border-radius: 10px;
    margin-bottom: 8%;
}

.main2 h5 {
    margin-bottom: 5%;
    font-size: larger;
}

.main2 h3 {
    margin-bottom: 5%;
    font-size: x-large;
}

#one {
    margin-left: 12%;
    color: rgba(64, 70, 77, .5);
    font-size: xx-large;
}

#two {
    margin-left: 12%;
    font-size: xxx-large;
}

.json {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    
    width: 67%;
    margin-right: 30%;
    

    justify-content: space-between;
    gap: 29px;
    margin-left: 14%;
    margin: auto;
    margin-right: 21%;
}
.man{
    border: 1px solid #dfe3e6;
    width: 168%;
    padding: 6%;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}
.json img {
    width: 170%;
   
    height: 87px;
}

.json .man div:nth-child(2){
 margin-left: 20%;   
}